.icon-bar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}