
.row:after{
    content: "Tables";
    display: table;
    clear: both;
}
.left, .right{
    width: 25%;
}
.middle{
    width: 50%;
}
.column1{
    align-content: left;
    content: "Pontoon Boat";
}
.column2{
    align-content: center;
    content: "Fishing Boat";
}
.column3{
    align-content: right;
    content: "Kayak";
}
.row{
    
    float: left;
    width: 33.33%;
    background-color: black;
}



            
          