body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

header {
    background-color: black;
    color: white;
    padding: 15px;
    margin: -10px;
}

h1, h3 {
    text-align: center;
}

h1 {
    padding: -10px;
    margin-bottom: -30px;
}

.section {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    background-color: black;
    padding: 15px;
    margin: -10px;
}
.contactinfo{
    float: right;
    margin-bottom: 10px;
    margin-top: -5px;
    position: relative;
}
