
.dropbtn{
    padding: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content{
    position: relative;
    display: inline-block;
}
.dropdown{
    position: relative;
    display: inline-block;
}
